[theme="light"] {
  --background: #f3f1f2;
  --card-background: #f3f1f2;
  --input-background: #f3f1f2;
  --modal-background: #f3f1f2;
  --text: #252538;
  --card-text: #252538;
  --main-brand: #6067b1;
  --main-brand-hover: #4f5590;
  --light-shades: #f3f1f2;
  --light-accent: #8478b8;
  --light-accent-hover: #6b5b9e;
  --dark-accent: #ac4259;
  --dark-accent-hover: #903548;
  --dark-shades: #252538;
  --default: #888888;
  --success: #5d9966;
  --success-hover: #4c8053;
  --warning: #da892e;
  --warning-hover: #b26e24;
  --danger: #f44336;
  --danger-hover: #c7352b;
  --info: #7a6aae;
  --info-hover: #6b5b9e;
  --border: #9e8ecb;
  --disabled-background: #e0e0e0;
  --disabled-text: #a0a0a0;
  --disabled-border: #d1d1d1;
  --placeholder: #b0b0b0;
  --placeholder-disabled: #9d9d9d;
  --translucent: #0000000d;
}
[theme="dark"] {
  --background: #1c1c1e;
  --card-background: #2c2c2e;
  --input-background: #3a3a3c;
  --modal-background: #242424;
  --text: #f3f1f2;
  --card-text: #d0c8cc;
  --main-brand: #686ccf;
  --main-brand-hover: #42477a;
  --light-shades: #7a6aae;
  --light-accent: #a397e1;
  --light-accent-hover: #42477a;
  --dark-accent: #ac4259;
  --dark-accent-hover: #903548;
  --dark-shades: #1c1c1e;
  --default: #707070;
  --success: #5d9966;
  --success-hover: #4c8053;
  --warning: #da892e;
  --warning-hover: #b26e24;
  --danger: #f44336;
  --danger-hover: #c7352b;
  --info: #7a6aae;
  --info-hover: #6b5b9e;
  --border: #6c6c6e;
  --disabled-background: #2e2e30;
  --disabled-text: #6c6c6e;
  --disabled-border: #3d3d3f;
  --placeholder: #8b8b8b;
  --placeholder-disabled: #58585a;
  --translucent: #ffffff0d;
}
