html {
  background-color: theme('colors.background') !important;
  color: theme('colors.text') !important;
}

@include themed('.n-button.n-button--tertiary-type', 'light') {
  .n-button__border {
    border: 1px solid theme('colors.disabled-background') !important;
  }

  .n-button__state-border {
    border: none !important;
  }

  &:not(.n-button--disabled):hover {
    background: theme('colors.disabled-background') !important;
    .n-button__state-border {
      border: none !important;
    }
  }
}

@include themed('.n-button.n-button--tertiary-type .n-button__border', 'dark') {
  border: 1px solid transparent !important;
}

.n-button.n-button--disabled {
  color: ch(theme('colors.text'), #fff);
}

.n-base-selection:not(.n-base-selection--disabled) .n-base-selection-label, .n-input:not(.n-input--disabled) {
  background-color: theme('colors.input-background') !important;
}

.n-base-selection:not(.n-base-selection--disabled) .n-base-selection-placeholder, .n-input:not(.n-input--disabled) .n-input__placeholder {
  color: theme('colors.placeholder');
}

@include themed('.n-card', 'light') {
  box-shadow: theme('boxShadow.harder') !important;
}

.n-collapse-item__header--active .n-collapse-item__header-main {
  font-weight: 500 !important;
  color: theme('colors.main-brand') !important;
}

.n-base-selection.n-base-selection--disabled {
  border: none !important;

  * {
    border: none !important;
  }
}

.n-input .n-input__input-el, .n-input .n-input__textarea-el {
  caret-color: theme('colors.text');
  color: ch(theme('colors.text'), theme('colors.card-text'));
}

.n-input .n-input__border, .n-input .n-input__state-border {
  border: 1px solid theme('colors.border');
}

.n-input:not(.n-input--disabled).n-input--focus .n-input__state-border{
  border: 1px solid theme('colors.main-brand');
}

.n-input:not(.n-input--disabled):hover .n-input__state-border {
  border: 1px solid theme('colors.main-brand');
}

.n-tabs .n-tabs-tab {
  color: theme('colors.text');
}

.n-tabs .n-tabs-nav.n-tabs-nav--line-type.n-tabs-nav--top .n-tabs-nav-scroll-content {
  border-bottom: 1px solid theme('colors.border');
}

$buttons: ('default': 'main-brand', 'primary': 'main-brand', 'info': 'info', 'success': 'success', 'warning': 'warning', 'error': 'danger');
@each $t in ('light', 'dark') {
  @each $btn, $n in $buttons {
    [theme=#{$t}] .n-button.n-button--#{$btn}-type.n-button--dashed:active {

      color: theme('colors.#{$n}-hover') !important;
      background-color: theme('colors.translucent') !important;

      .n-button__state-border {
        border-width: 1px !important;
      }
    }
  }
}

@include createTippyTheme('error', theme('colors.danger'), theme('colors.text'));

span[class^="icon-"] {
  position: relative;
  left: 0.5px;
  top: 1px;
  width: 1.3em !important;
  height: 1.3em !important;
}

[theme='light'] .icon-light {
  color: theme('colors.text') !important;
}

[theme='dark'] .icon-dark {
  color: theme('colors.text') !important;
}
